<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>标准变量表达式:${}</h2>
    <div th:text="${user.id}"></div>
    <div th:text="${user.username}"></div>
    <div th:text="${user.age}"></div>

    <h1>选择变量表达式（星号表达式  不推荐）:*{}</h1>
    <!--
        *{}必须使用th:object属性来绑定对象
        在div子标签中使用*来代替绑定的对象
    -->
<div th:object="${user}">
    用户编号:<span th:text = "*{id}"></span>
    用户姓名:<span th:text = "*{username}"></span>
    用户年龄:<span th:text = "*{age}"></span>
</div>

<h3>标准变量表达式与选择变量表达式的混合使用(不推荐)</h3>
    用户编号<span th:text="*{user.id}"></span>
    用户姓名<span th:text="*{user.username}"></span>
    用户年龄<span th:text="*{user.age}"></span>
</body>
</html>