# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\后端\SSM-ZHOU\springboot-course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
